.hero-section-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background-image: url('static/portfoliobackground.gif');
    background-size: cover;
    background-position: center;
    height: 52vh; 
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 35px;
    border-radius: 18px;
    overflow: hidden;
    background-color: #17252A;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.hero-section-slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background-image: url('static/portfoliobackground.gif');
    background-size: cover;
    background-position: center;
    height: 52vh; 
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 35px;
    border-radius: 18px;
    overflow: hidden;
    background-color: #17252A;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.hero-section-slideshow::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: url('static/background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(7px); 
}

.hero-overlay-slideshow {
    max-width: 1500px;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    color: white;
    position: relative; 
    z-index: 1;
}

.hero-section-portfolio::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: url('static/portfoliobackground.gif');
    background-size: cover;
    background-position: center;
    filter: blur(3px); 
    z-index: -1; /* Ensure the blur is behind the content */
}

/* 3D effect on hover */
.hero-section-portfolio:hover {
    transform: scale(1.03) ;
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.9); 
}

.hero-section-portfolio:hover .name-logo-duck {
    transform: none; 
}